html
  head
    include ../include/head.pug
    link(href=eisle.host+"/styles/eisle/chord-intro.css" rel="stylesheet" type="text/css")
    title= title + " - Echo Isles"
  body
    div.article
      div.ui.header
        div.ui.two.column.grid
          div.column
            img.name.image(src=nameImageUrl)
          div.right.aligned.column
            img.image(src=staffImageUrl)
        if input
          div(class=(messages ? "ui warning message" : "ui message")) 
            div 解析自
              span(style="font-family: monospace") #{input}
            if(messages)
              include chord-parse-messages.pug
      div.main.ui.intro.container
        h2.ui.dividing.header 指法
        div.ui.stackable.grid
          each diagram in diagrams
            div.column.chord.diagram
              img.ui.centered.image(src=diagram.url)
              if diagram.omits
                div.omits= "（" + diagram.omits + "）"